<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd"
         backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="tests/bootstrap.php"
         cacheResult="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         stopOnRisky="false"
         timeoutForSmallTests="1"
         timeoutForMediumTests="10"
         timeoutForLargeTests="60"
         verbose="false"
         testdox="true">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/unit/</directory>
        </testsuite>

        <testsuite name="Integration">
            <directory>tests/integration/</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="build/coverage/cache/"
              includeUncoveredFiles="true"
              processUncoveredFiles="true"
              pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="true">
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </coverage>
</phpunit>
